<form action="/entries" method="post">
  <label for="location">Where Did You Travel?</label>
  <input id="location" name="location" type="text">
  <label for="date">When did you take this trip?</label>
  <input id="date" name="date" type="text">
  <label for="days">How many days were you there?</label>
  <input id="days" name="days" type="text">
  <label for="travelPartners">Who did you travel with?</label>
  <input id="travelPartners" name="travelPartners" type="text">
  <label for="journalEntry">Enter your Journal Entry for this trip</label>
  <input id="journalEntry" name="journalEntry" type="text">
  <button type="submit">Submit</button>
</form>